<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/login.css">
  </head>
  <body>
    <form method="post" action="/api/loginReq">
      <label for="username">Username: </label><br>
      <input type="text" id="username" name="username" required />
      <br><br>
                
    <label for="password">Password: </label><br>
    <input type="password" id="password" label="Password" name="password" required />
                <br><br>

    <button type="submit">Login</button>
  </form>
  </body>
</html>